.dom--unready {

    .content---cr {
        
        code,
        pre,
        table {
            visibility: hidden;
        }
    }
}

.content---cr {

    .code-content {
        display: inline-block;
    }

    > .code-content {
        @extend %content-type;
        display: block;
    }

    .script-content {
        display: none;
    }
}