.go-start-nav-f5e {

    .go-start-navi {
        position: absolute;
        right: 0;
        bottom: 0;
        @include x-padding();
    }
    
    .go-start-navi---a {
        color: $ink-color;
    }

    .go-start-navi---txt {
        @extend %vh;
    }
}