%overlay {
    bottom: 0%;
    opacity: .75;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    z-index: 99;
    background-color: black;
    opacity: 0;
}