//--------------------------------------------------------------
// Remove the browser reset action
//--------------------------------------------------------------
// https://blog.maximerouiller.com/post/remove-the-x-from-internet-explorer-and-chrome-input-type-search/
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.ntt-primary-search-f5e {
    
    &.dom--unready {
    
        .widget_search {
            display: none;
        }
    }
}

.primary-search-f5e {

    .widget-name,
    .toggle-search---txt,
    .search-field-label,
    .submit-search-axn---txt,
    .reset-search-axn---txt {
        @extend %vh;
    }

    .search-textbox {
        flex-grow: 1;
        @include x-padding();
    }

    .search-field {
        margin-bottom: 0;
        @include y-padding();
    }

    .submit-search-axn {
        margin-bottom: 0;
        padding: 0;
    }

    .submit-search-axn---a {
        width: auto;
        background-color: transparent;
        color: $ink-color;
    }

    .submit-search-axn---l {
        @include y-padding();
    }

    .reset-search-axn---a {
        width: auto;
        background-color: transparent;
    }

    .reset-search-axn {
        padding: 0;
    }

    .reset-search-axn---l {
        @include y-padding();
    }

    .search,
    .search---cr,
    .search-field,
    .search-field---cr,
    .search-axns,
    .search-axns---cr {
        display: contents;
    }

    .widget_search---cr {
        display: flex;
        justify-content: flex-end;
    }

    .search-textbox {
        order: -1;
    }

    .submit-search-axn {
        order: 1;
    }

    .search-input {
        background-color: transparent;
        border: 0;
    }
}

.active-search {

    &.empty-search {

        .reset-search-axn {
            display: none;
        }
    }

    &.populated-search {
        
        .toggle-axn {
            display: none;
        }
    }
}

.inactive-search {

    .search {
        display: none;
    }
}

.primary-search-toggle-axn {
    @include x-padding();
}

.primary-search-toggle-axn---a {
    width: auto;
    background-color: transparent;
    color: $ink-color;
}

.primary-search-toggle-axn---l {
    @include y-padding();
}

.ntt-primary-menu-f5e {

    .active-search {

        .search-input {
            padding-left: 0;
        }
    }
}