.ntt-sub-nav-f5e {
    
    &.dom--unready {

        .entity-primary-nav {
            max-width: 100vw;
        }
    
        .children,
        .sub-menu {
            display: none;
        }

        .entity-primary-nav-group---cr {
            visibility: hidden;
        }
    }

    .entity-primary-nav {

        .page_item_has_children,
        .menu-item-has-children {
            padding-right: $min-aa;

            > a {
                margin-right: 0;
            }
        }
    }
}

//--------------------------------------------------------------
// Button Style
//--------------------------------------------------------------

.sub-nav-toggle-axn {
    @include x-padding();
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.sub-nav-toggle-axn---a {
    width: auto;
    background-color: transparent;
    color: $ink-color;
}

.toggle-sub-nav---txt {
    @extend %vh;
}

//--------------------------------------------------------------
// Active Sub-Nav
//--------------------------------------------------------------

.active-sub-nav {
    z-index: 99;

    > .toggle-axn {
        
        .down-arrowhead-icon {
            transform: rotate( 180deg); 
        }
    }
}

//--------------------------------------------------------------
// Inactive Sub-Nav
//--------------------------------------------------------------

.inactive-sub-nav {
    
    > .nav-branch {
        display: none;
    }
}

//--------------------------------------------------------------
// Sub-Nav
//--------------------------------------------------------------

.sub-nav-f5e {

    .entity-primary-navi---l {
        display: flex;
        align-items: center;
        min-height: $min-aa;
    }

    a {
        justify-content: flex-start;
    }

    .page_item,
    .menu-item {
        @include x-padding($m-gutter);
    }
    
    .page_item_has_children,
    .menu-item-has-children {
        position: relative;
        padding-right: 0;

        > a {
            margin-right: $min-aa;
        }
    }

    .nav-branch {

        .active-other-sub-nav {
            visibility: hidden;
            height: 0;
        }
    }

    .nav-branch {
        
        .navi {
            @include x-padding();

            a {
                @include x-padding($m-gutter);
            }
        }

    }

    &.entity-primary-nav {

        a {
            display: flex;
            white-space: nowrap;
        }

        .entity-primary-nav-group---cr {

            > li {

                // Sub-Nav
                > ul {

                    ul {
                        transform: translate(1rem, -.5rem);
                    }

                    .page_item_has_children,
                    .menu-item-has-children {

                        > a {
                            padding-right: $min-aa;
                        }
                    }

                }
            }
        }

        .page_item_has_children,
        .menu-item-has-children {

            > a {
                width: 100%;
            }
            
            > ul {
                position: absolute;
                top: 100%;
                z-index: 99;
                transform: translate(0, -.5rem);

                > li {

                    > a {
                        background-color: white;
                        border-left: 1px solid $sub-nav-border-color;
                        border-right: 1px solid $sub-nav-border-color;
                    }
    
                    &:first-child {
    
                        > a {
                            border-top: 1px solid $sub-nav-border-color;
                        }
                    }
    
                    &:last-child {
    
                        > a {
                            border-bottom: 1px solid $sub-nav-border-color;
                        }
                    }
                }
    
                > .active-sub-nav {
    
                    > a {
                        border-bottom: 1px solid $sub-nav-border-color;
                    }
                }
            }
        }

        .nav-branch {
            max-width: 30rem;
            min-width: 100%;
            background-color: white;
        }

        .nav-trunk {

            > li {

                > a {
                    text-align: center;
                    justify-content: center;
                }
            }

            &.js--interim-starter-nav {
                flex-wrap: nowrap;
                justify-content: normal;
                overflow-x: auto;
                width: 100vw;
            
                > li > a {
                    white-space: nowrap;
                }
            }
        }

        .js--starter-nav {
            flex-wrap: nowrap;
        }

        .js--non-starter-nav-trunk {
            
            @include x-padding();

            > .axn {
                position: static;
            }
            
            .nav-branch {
                margin-bottom: $min-aa;
            }

            .entity-primary-navi---l {

                @include mq(xs-vp) {
                    max-width: 100%;
                }
            }

            .navi---txt {

                @include mq(xs-vp) {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    .widget_nav_menu---cr,
    .widget_pages---cr {
        @include x-padding();
    }

    .widget-name {
        @include x-padding($m-gutter);
    }

    .down-arrowhead-icon {
        width: .75em;
        height: .75em;
    }
}