@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
.post-view .entry-header .entry-meta,
.post-view .entry-header .comments-actions-snippet, .nav-name {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

.post-view .comment-md, .post-view .entry-heading, .post-view .entry-axns, .post-view .entry-summary-content, .post-view .breadcrumbs-nav, .post-view .entry-content-nav, .post-view .entry-nav, .post-view.entry-banner-visuals--on .entry-heading, .post-view .entry-full-content .content---cr > * {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.entry-published-on-glabel,
.entry-updated-on-glabel,
.entry-at-glabel, .published-by-glabel {
  color: gray;
  font-size: .75em;
  text-transform: uppercase;
}

.categories-name {
  font-size: .875em;
  text-transform: uppercase;
  font-weight: bold;
}

/*
.entity-header---cr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
*/
.entity-main-header .entry-nav {
  display: none;
}

.entity-secondary-info {
  text-align: center;
}

.post-view .view-name {
  display: none;
}

.post-view .entity-secondary-nav-group {
  justify-content: center;
}

.post-view .entry-name {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  letter-spacing: calc(1/32em);
}

@media only screen and (min-width: 48em) {
  .post-view .entry-name {
    font-size: 4em;
  }
}

.post-view.entry-banner-visuals--on .entry-header,
.post-view.entry-banner-visuals--on .entry-header---cr {
  display: contents;
}

.post-view.entry-banner-visuals--on .entry-main,
.post-view.entry-banner-visuals--on .entry-main---cr,
.post-view.entry-banner-visuals--on .entry-content,
.post-view.entry-banner-visuals--on .entry-content---cr {
  display: contents;
}

.post-view.entry-banner-visuals--on .entry-banner,
.post-view.entry-banner-visuals--on .entry-banner---cr {
  display: contents;
}

.post-view.entry-banner-visuals--on .entry-article---cr {
  display: grid;
}

.post-view.entry-banner-visuals--on .entry-heading {
  grid-area: 2/1;
  z-index: 1;
  margin-top: 10vh;
}

.post-view.entry-banner-visuals--on .entry-name {
  color: white;
}

.post-view.entry-banner-visuals--on .entry-name .entry-name---txt {
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.post-view.entry-banner-visuals--on .entry-axns {
  grid-area: 3/1;
  z-index: 1;
}

.post-view.entry-banner-visuals--on .entry-axns .post-edit-link {
  color: white;
}

.post-view.entry-banner-visuals--on .entry-summary-content {
  grid-area: 4/1;
  z-index: 1;
  margin-bottom: 10vh;
}

.post-view.entry-banner-visuals--on .entry-summary-content > * {
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.post-view.entry-banner-visuals--on .entry-banner-visuals {
  position: relative;
  grid-area: 1/1/5;
}

.post-view.entry-banner-visuals--on .entry-banner-visuals:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.post-view.entry-banner-visuals--on .entry-banner-visuals---img {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  object-fit: cover;
}

.post-view .content---cr blockquote {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}

.post-view .content---cr blockquote:before {
  content: '“';
  position: absolute;
  left: 0;
  top: 0;
  margin-left: .125em;
  margin-top: -.35em;
  color: rgba(0, 0, 0, 0.0625);
  font-family: serif;
  font-size: 4em;
}

.post-view .content---cr .intro-text {
  font-size: 1.40625em;
}

@media only screen and (min-width: 48em) {
  .post-view .content---cr .intro-text {
    font-size: 1.6875em;
  }
}

.post-view .content---cr .interviewer-dialogue-txt {
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  font-weight: bold;
}

.post-view .content---cr .interviewer-dialogue-txt:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: .125em;
  margin-top: -.35em;
  color: rgba(0, 0, 0, 0.0625);
  font-size: 4em;
}

.post-view .content---cr .interviewer-dialogue-txt:before {
  content: 'Q';
  font-weight: normal;
}

.post-view .content---cr .interviewee-dialogue-txt {
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.post-view .content---cr .interviewee-dialogue-txt:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: .125em;
  margin-top: -.35em;
  color: rgba(0, 0, 0, 0.0625);
  font-size: 4em;
}

.post-view .content---cr .interviewee-dialogue-txt:before {
  content: 'A';
}

.post-view .entry-summary-content .content---cr {
  color: #fefefb;
}

@media only screen and (min-width: 48em) {
  .post-view .entry-summary-content .content---cr {
    font-size: 2em;
  }
}

.post-view .entry-summary-content .content---cr a {
  color: #fefefb;
  text-decoration: underline;
}

.post-view .entry-summary-content .content---cr a:hover {
  text-decoration: none;
}

.post-view .entry-full-content .content---cr a {
  text-decoration: none;
  transition: box-shadow .3s;
  box-shadow: inset 0 -0.0625em 0 #0060e6;
}

.post-view .entry-full-content .content---cr a:visited {
  color: inherit;
}

.post-view .entry-full-content .content---cr a:hover {
  box-shadow: inset 0 -0.25em 0 #0060e6;
}

.post-view .entry-full-content .content---cr > .gallery,
.post-view .entry-full-content .content---cr > .gallery-wrapper,
.post-view .entry-full-content .content---cr > .solo-visuals {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
}

.note {
  background-color: whitesmoke;
  color: gray;
  text-align: center;
  font-size: .875em;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

a:hover {
  text-decoration: underline;
}
