$table-border-color: hsla(0, 0%, 85%, .85);

tbody {
	border: 2px solid $table-border-color;
	border-left-width: 1px;
	border-right-width: 1px;
}

thead {
	border-bottom: 2px solid $table-border-color;
	border-top: 2px solid $table-border-color;

	th:last-child {
		border-right: 1px solid $table-border-color;
	}
}

tfoot {
	border: 2px solid $table-border-color;
	border-left: 0;
	border-right: 0;
    border-top: 0;
    
    .widget_calendar & {
        border: 0;
    }
}

th,
td {
	border: 1px solid $table-border-color;
	border-right: 0;
    border-bottom: 0;
    
    .widget_calendar tfoot & {
        border: 0;
    }
}

td {
    
    &:first-child {
		border-left: 0;
	}
}