.post-view {

    .content---cr {

        blockquote {
            position: relative;
            @include x-padding($m-gutter * 2);

            &:before {
                content: '“';
                position: absolute;
                left: 0;
                top: 0;
                margin-left: .125em;
                margin-top: -.35em;
                color: hsla(0, 0%, 0%, .0625);
                font-family: serif;
                font-size: 4em;
            }
        }

        .intro-text {
            font-size: $content-font-size * 1.25;

            @include mq(m-vp) {
                font-size: $content-font-size * 1.5;
            }
        }

        @mixin interview-dialog-style {
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                margin-left: .125em;
                margin-top: -.35em;
                color: hsla(0, 0%, 0%, .0625);
                font-size: 4em;
            }
        }

        .interviewer-dialogue-txt {
            @include x-padding($m-gutter * 2);
            @include interview-dialog-style;
            font-weight: bold;

            &:before {
                content: 'Q';
                font-weight: normal;
            }
        }

        .interviewee-dialogue-txt {
            @include x-padding($m-gutter * 2);
            @include interview-dialog-style;

            &:before {
                content: 'A';
            }
        }
    }

    .entry-summary-content {

        .content---cr {
            $ink-color: $paper-color;
            color: $ink-color;

            @include mq(m-vp) {
                font-size: 2em;
            }
            
            a {
                color: $ink-color;
                @include link-line;
            }
        }
    }

    .entry-full-content {

        .content---cr {
        
            a {
                text-decoration: none;
                transition: box-shadow .3s;
                box-shadow: inset 0 -.0625em 0 $primary-link-color;

                &:visited {
                    color: inherit;
                }
            
                &:hover {
                    box-shadow: inset 0 -.25em 0 $primary-link-color;
                }
            }

            > * {
                @extend %m-vp;
            }

            > .gallery,
            > .gallery-wrapper,
            > .solo-visuals {
                @include x-margin();
                max-width: none;
            }
        }
    }
}