$primary-link-color: $panda-blue--color;

%m-vp {
    width: 100%;
    max-width: 768px;
    @include x-margin(auto);
}

%glabel {
    color: gray;
    font-size: .75em;
    text-transform: uppercase;
}

%name {
    font-size: .875em;
    text-transform: uppercase;
    font-weight: bold;
}