.note {
    padding: $m-gutter;
}

.note---cr {
    background-color: hsla(0, 0%, 0%, .03125);
    color: gray;
    font-size: .875em;
    text-align: center;
}

.akismet_comment_form_privacy_notice {
    @extend .note---cr;
    margin: $m-gutter;
    padding: $m-gutter;
}