// DateTime

.entry-published-date {

    .day---txt {
        font-size: 1.5em;
    }
 
    .month---txt {
        font-size: .875em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .year---txt {
        font-size: .75em;
    }
}

.entry-published-date---a {
    color: $ink-color;
}

.entry-published-date---l {
    display: flex;
    flex-direction: column;
    padding: .25em 1em;
    background-color: $paper-color;
    text-align: center;
}

.entry-published-on-glabel,
.entry-at-glabel {
    display: none;
}

.entry-published-time {
    @extend %vh;
}

.entry-updated-datetime {
    @extend %vh;
}

.entry-author---cr {
    display: inline-flex;
    align-items: center;
}

.published-by-glabel {
    @extend %vh;
}

.entry-author-avatar {
    order: -1;
    margin-right: .5rem;
}

.categories-name {
    @extend %vh;
}