.customize-page-entry {

    &.dom--unready {
        
        [id*="contact-form"] {
            
            label > input {
                display: none;
            }
        }
    }
}

.customize-form {

    .grunion-radio-label {
        display: block;
        text-align: center;
        
        input {
            visibility: hidden;
            position: absolute;

            + img {
                cursor: pointer;
                border: .25em solid transparent;
            }

            &:checked + img {
                border-color: $misty-purple-color;
            }
        }

        .txt {
            display: block;
        }
    }

    .required---txt {
        @include x-margin(.5em);
        color: gray;
        font-size: .75em;
    }
}

.customize-visuals {
    @extend %vh;
}