$ntt-header-link-color: black;

.entity-header---cr {
    display: grid;
    grid-template:
        'a1 b1 c1' 5rem
        'a2 . .'
        /  1fr auto 1fr;
}

.entity-heading---cr,
.entity-heading {
    display: contents;
}

.entity-primary-nav {
    grid-column: a2 / -1;
}

.entity-primary-axns {
    grid-area: c1;
    justify-self: end;
    align-self: center;
    
    .widget_nav_menu {

        a {
            @extend %aa;
            color: $ntt-header-link-color;
            text-transform: uppercase;
        }

        .menu-item {
            
            @include mq( s-vp ) {
                font-size: .75em;
            }
        }
    }
}

.entity-primary-name {
    grid-area: b1;
    justify-self: center;
    align-self: center;

    @at-root  .entity-primary-name---a {
        @extend %aa;
        color: $ntt-header-link-color;
    }

    @at-root .entity-primary-name---l {
        text-transform: uppercase;
    }
}

.entity-primary-description {
    @include m-x-gutter;
    grid-area: a1;
    align-self: center;

    @at-root  .entity-primary-description---a {
        @extend %aa;
        color: $ntt-header-link-color;
    }

    @at-root .entity-primary-description---l {
        text-transform: uppercase;
    }
}

/*
.view-heading,
.entity-main-header .entry-nav,
.entity-primary-nav,
.entry-datetime,
.entry-categories {
    display: none;
}
*/

.entry-author {

    .entry-author-avatar,
    .published---txt {
        display: none;
    }
}

.entry-name {
    font-weight: normal;
    text-transform: uppercase;
    
    @include mq( s-vp ) {
        font-size: 3em;
    }
}

.entry-article---cr {
    display: grid;
}

.entry-header,
.entry-header---cr {
    display: contents;
}

.entry-banner,
.entry-banner---cr {
    display: contents;
}

.entry-banner-visuals {
    order: 1;
    justify-self: center;
    max-width: 320px;
}

.entry-info,
.entry-info---cr {
    display: contents;
}

.entry-name {
    order: 2;
    align-self: center;
    @include y-margin($m-gutter);
    text-align: center;
}

.entry-axns {
    order: 3;
    align-self: center;
    text-align: center;
}

.entry-main,
.entry-main---cr,
.entry-content,
.entry-content---cr {
    display: contents;
}

.entry-summary-content {
    order: 4;
    justify-self: center;
    text-align: center;
}

.entry-meta,
.entry-meta---cr {
    display: contents;
}

.entry-author {
    order: 5;
    justify-self: center;
    text-transform: uppercase;
    letter-spacing: .125em;

    @include mq( s-vp ) {
        font-size: .75em;
    }

    &, a {
        color: gray;
    }

    @at-root .entry-author-name---a {
        min-width: auto;
    }
}

.entry-full-content {
    order: 6;
}

.the-contributors-microtheme {

    .contributor {
        display: grid;
        grid-template:
            'a1 b1'
            '. b2' 1fr
            / min-content 1fr;
    }
    
    .contributor-name {
        grid-area: b1;
        padding: $m-gutter;
    }
    
    .contributor-profile {
        grid-area: a1;
        grid-row-end: -1;
        padding: $m-gutter;
        width: 320px;
    }
    
    .contributor-description {
        grid-area: b2;
        padding: $m-gutter;
    }

}

.content---cr {
    line-height: 1.8;
    font-size: 1.25em;
    
    > *,
    .wp-caption-text,
    .jony-ive-cover {
        @include x-margin(auto);
        max-width: 40rem;
    }

    .wp-video {
        @include x-padding();
    }

    // Negations
    figure,
    blockquote,
    .gallery,
    .image-visuals {

        @include mq( l-vp ) {
            @include x-margin(initial);
            max-width: 100%;
        }
    }

    figure {

        &.alignnone {
            @include mq( l-vp ) {
                width: auto !important;
            }
        }
    }

    blockquote {
        @include mq( l-vp ) {
            @include x-padding(2em);
        }
    }

    .image-visuals {

        &.alignnone {
            @include mq( l-vp ) {
                @include x-padding();
                width: auto !important;
            }
        }
    }
}

blockquote {
    text-align: center;
    font-family: serif;
    font-size: $content-font-size * 2;

    cite {
        color: #707070;
        font-size: .25em;
        font-style: normal;
        text-transform: uppercase;
        font-family: sans-serif;

        &:before {
            content: '–';
            margin-right: .3em;
        }
    }
}

.wp-caption-text,
.editors-note-txt {
    color: #707070;
    font-family: serif;
    font-style: italic;
}