.comments-name {
    padding: $m-gutter;
}

.comments---group {
    @extend %unlist;

    ul.children,
    ol.children {
        @extend %unlist;
        padding-left: $m-gutter;
    }
}

.comment-reply-axn {

    .axn---line {
        @include y-center-ib;
    }

    .note---line {
        @extend %inline-note;
    }

    @at-root .comment-reply-login {
        
        &:hover {
            text-decoration: none;

            .axn---line {
                text-decoration: underline;
            }
        }
    }
}

.compose-comment-name {
    @include name();
}

.comment-reply-name {
    @include name();

    a {
        @include y-padding(1em);
    }
}

.logged-in-admin-account {
    @include m-x-gutter;
    @include y-center-ib;
}

.log-out-admin-account-axn {
    @include m-x-gutter;
    @include y-center-ib;

    a {
        @extend %aa;
    }
}

.admin-account-name---a {
    @extend %aa;
}

.logged-in-admin-account---cr {
    > * {
        @include y-center-ib;
    }
}

#cancel-comment-reply-link {
    @extend %aa;
    @include m-x-gutter;
}

.comment-form {

    .form-submit {
        margin: 0;
        padding: $m-gutter;
    }
}

.comments-count {
    @include m-x-gutter;

    @at-root .comments-count---a {
        @extend %aa;
    }
}

.comment-published-on-glabel,
.comment-at-glabel {
    @include y-center-ib;
}

.add-comment-axn {
    @include m-x-gutter;
}