.comments-name {
    padding: $m-gutter;
}

.comments---group {
    @extend %unlist;

    ul.children,
    ol.children {
        @extend %unlist;
        padding-left: $m-gutter;
    }
}

.compose-comment-name {
    @include name();
}

.comment-reply-name {
    @include name();

    a {
        @include y-padding(1em);
    }
}

.logged-in-admin-account {
    @include m-x-gutter;
    @include y-center-ib;
}

.log-out-admin-account-axn {
    @include m-x-gutter;
    @include y-center-ib;

    a {
        @extend %aa;
    }
}

.admin-account-name---a {
    @extend %aa;
}

.logged-in-admin-account---cr {
    > * {
        @include y-center-ib;
    }
}

#cancel-comment-reply-link {
    @extend %aa;
    @include m-x-gutter;
}

.comment-form {

    .form-submit {
        margin: 0;
        padding: $m-gutter;
    }
}

.comments-count {
    @include m-x-gutter;

    @at-root .comments-count---a {
        @extend %aa;
    }
}

.comment-published-on-glabel,
.comment-at-glabel {
    @include y-center-ib;
}

.add-comment-axn {
    @include m-x-gutter;
}

.add-comment-axn---a {
    @extend %aa;
}

.add-comment-axn---l {
    @extend %aa-pad;
}

.modify-comment-axn {
    @include x-padding($m-gutter);

    a {
        @extend %aa;
    }
}

.modify-comment-axn---l {
    @extend %aa-pad;
}

.comment-user-axns {
    @include x-padding($m-gutter);
}

.comment-reply-axn {

    a {
        @extend %aa;
    }
}

.comment-reply-axn---l {
    @extend %aa-pad;
}