//--------------------------------------------------------------
// Content Module
//--------------------------------------------------------------
.cm-name {
    padding: $m-gutter;
    font-size: 2em;

    .a {
        @extend %aa;
    }

    .l {
        word-break: break-word;
    }
}

.cm-author {
    @include m-x-gutter;

    .a {
        @extend %aa;
    }
}

.cm-author-name {
    @include y-center-ib;
}

.cm-avatar {
    @include y-center-ib;
    line-height: 0;
    
    .img {
        border-radius: 50%;
    }
}

.cm-datetime {
    @include m-x-gutter;
}

.cm-date {
    @include y-center-ib;
}

.cm-time {
    @include y-center-ib;
}

.entry-published-on-glabel {
    @include y-center-ib;
}

.entry-updated-on-glabel {
    @include y-center-ib;
}

.entry-at-glabel {
    @include y-center-ib;
}

.published-by-glabel {
    @include y-center-ib;
}