//--------------------------------------------------------------
// Entry Categories
//--------------------------------------------------------------

.entry-categories {

    @at-root .post-categories {
        
        @extend %unlist;
        display: flex;
        flex-wrap: wrap;

        li {
            @include m-x-gutter;
        }

        a {
            @extend %aa;
        }

    }

    @at-root .categories-name {
        padding: $m-gutter;
    }

    @at-root .entry-categories---cr {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

//--------------------------------------------------------------
// Entry Tags
//--------------------------------------------------------------

.entry-tag-group {
    @extend %unlist;
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}

.entry-tag-item {
    padding: .5rem;

    a {
        @extend %aa;
    }
}

.tags-name {
    padding: $m-gutter;
}

.entry-tags---cr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.entry-admin-axns {
    @include m-x-gutter;
}

.entry-published-date---a {
    @extend %aa;
}

.modify-entry-axn {

    a {
        @extend %aa;
    }
}

.modify-entry-axn---l {
    @extend %aa-pad;
}

.entry-name---a {
    display: inline;
}