.entity-primary-heading {

    .dom--unready & {
        visibility: hidden;
    }
}

.wild-card {
    position: absolute;
}

.entity---cr {
    display: grid;
    grid-template:
        'a1'
        'a2'
        'a3' 1fr
        'a4'
        'a5';
    min-height: 100%;
}

.entity-start {
    grid-area: a1;
    position: absolute;
}

.entity-header {
    grid-area: a2;
}

.entity-main {
    grid-area: a3;
}
.entity-footer {
    grid-area: a4;
}

.entity-end {
    grid-area: a5;
    position: absolute;
}

//--------------------------------------------------------------
// Entity Main
//--------------------------------------------------------------
.entity-main---cr {
    display: grid;
    grid-template:
        'a1'
        'a2' 1fr
        'a3';
    min-height: 100%;
}

.entity-main-header {
    grid-area: a1;
}

.entity-main-main {
    grid-area: a2;
}

.entity-main-footer {
    grid-area: a3;
}

//--------------------------------------------------------------
// View Heading
//--------------------------------------------------------------
.entity-view-heading {

    .page-view &,
    .post-view & {
        @extend %vh;
    }
}

.entity-view-name {
    padding: $m-gutter;

    a {
        @extend %aa;
    }
}

//--------------------------------------------------------------
// Entity Heading
//--------------------------------------------------------------

.entity-primary-heading---cr {
    @extend %entity-header;
    display: grid;
    grid-template:
        'a1 b1'
        'a2 b2'
        / auto 1fr;
    @include m-x-gutter;
}

.entity-primary-name {
    grid-area: b1;
    align-self: center;
    grid-row: b1 / -1;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1.125rem;

    .entity-description--populated & {
        grid-row: auto;
        align-self: end;
    }
}

.entity-primary-description {
    grid-area: b2;
    align-self: start;
    font-size: .75rem;
}

.entity-primary-logo {
    grid-row: a1/-1;
    align-self: center;
    margin-right: .5rem;
    line-height: 0;

    a {
        @extend %aa;
        max-width: 3rem;
    }

    .entity-name-description--disabled & {
        margin-right: 0;
    }
}

.entity-name-description--disabled {
    
    .entity-primary-name,
    .entity-primary-description {
        @extend %vh;
    }
}

//--------------------------------------------------------------
// Header with Features
//--------------------------------------------------------------

.entity-header---cr {
    display: grid;
    grid-template:
        'a1 b1 c1'
        'a2 . .'
        'a3 . .'
        / auto 1fr auto;

    .ntt-primary-search-f5e--on & {
        grid-template-columns: auto auto 1fr;
    }
}

.entity-primary-heading {
    grid-area: b1;
    align-self: center;
}

.entity-primary-axns {
    grid-area: c1;
    align-self: center;
}

.entity-primary-axns---cr {
    justify-content: flex-end;
}

.primary-search-f5e {
    flex: 1 100%;
}

.entity-primary-nav {
    grid-area: a2;
    grid-column: a2 / -1;
    align-self: center;
}

.entity-primary-nav---cr {
    flex-wrap: wrap;
}

.entity-header-aside {
    grid-area: a1;
    align-self: center;
}

.entity-banner {
    grid-area: a3;
    grid-column: a3 / -1;
    align-self: center;
}

//--------------------------------------------------------------
// Entity Secondary Info
//--------------------------------------------------------------

.entity-secondary-info {
    color: $gray;
    font-size: .75em;

    a {
        color: $gray;
    }
}

.entity-secondary-info {
    padding: $m-gutter;

    .ntt-go-start-nav-f5e & {
        padding-right: $min-aa;
    }
}

//--------------------------------------------------------------
// With Features
//--------------------------------------------------------------

.ntt-overflow-axns-f5e {
    
    .entity-primary-axns---cr {
        @extend %entity-header;
    }
}

.ntt-primary-menu-f5e {

    .entity-primary-heading---cr {
        padding-left: 0;
    }
    
    .entity-header-aside---cr {
        @extend %entity-header;
    }
}

.ntt-primary-search-f5e--on {

    .entity-primary-axns {
        grid-column: b1 / -1;
    }

    .entity-primary-heading---cr {
        @include x-padding();
    }
    
    .entity-primary-heading {
        visibility: hidden;
    }
}

.entity-primary-heading---cr {

    .ntt-primary-search-f5e--off &,
    .ntt-overflow-axns-f5e--off & {
        padding-right: 0;
    }

    .entity-name-description--disabled & {
        grid-template-columns: 1fr auto;
    }
}