%box {
    display: block;
	padding: 1rem;
	margin: 1rem;
	border: 1px solid black;
	font-size: 1rem;
	font-weight: normal;
}

%label {
    padding: .5rem;
    text-align: left;
    background-color: black;
    color: white;
}

/*
.wild-card > *,
.go-content-navi > *,
.entity-primary-name > *,
.entity-primary-description > *,
.entity-primary-nav > *,
.widget-name > *,
.search-field-label > *,
.search-textbox > *,
.submit-search-axn > *,
.reset-search-axn > *,
.entity-view-name > *,
.entity-view-item-count > *,
.entry-name > * ,
.modify-entry-axn > *,
.entry-published-on-glabel > *,
.entry-published-date > *,
.entry-published-time > *,
.entry-modified-on-glabel > *,
.entry-modified-date > *,
.entry-modified-time > *,
.published-by-glabel > *,
.entry-author-name > *,
.entry-author-avatar > *,
.categories-name > *,
.post-categories,
.comments-count > *,
.add-comment-axn > *,
.entry-full-content > *,
.entity-name > *,
.entity-copyright > *,
.entity-maker-tag > *,
.go-start-navi > *,
.widget---cr:not(.widget_search---cr) > *:not(.widget-name) {
	display: none;
}
*/

.view,
.wild-card,
.entity,

.entity-start,
.go-content-nav,
.go-content-navi,

.entity-header,
.entity-primary-heading,
.entity-primary-nav,
.entity-primary-axns,

.widget,
.widget-name,

.search,
.search-field,
.search-field-label,
.search-textbox,
.search-axns,
.submit-search-axn,
.reset-search-axn,

.entity-primary-name,
.entity-primary-description,

.entity-main,
.entity-main-header,
.entity-main-main,
.entity-main-footer,

.entity-view-heading,
.entity-view-name,
.entity-view-item-count,

.entry-md,
.entries,
.entry,
.entry-article,

.entry-header,
.entry-main,
.entry-footer,

.entry-heading,
.entry-name,
.entry-axns,
.entry-meta,

.modify-entry-axn,

.entry-datetime,
.entry-published-datetime,
.entry-modified-datetime,

.entry-published-on-glabel,
.entry-published-date,
.entry-published-time,

.entry-modified-on-glabel,
.entry-modified-date,
.entry-modified-time,

.entry-author,
.published-by-glabel,
.entry-author-name,
.entry-author-avatar,
.entry-categories,
.categories-name,

.comments-actions-snippet,
.comments-population,
.comments-count,
.add-comment-axn,

.entry-content,
.entry-full-content,

.comment-md,
.comments,
.comment-respond,
.empty-comments-note,
.comments-header,
.comments-main,
.comments-name,

.comment,
.comment-article,
.comment-header,
.comment-heading,
.comment-name,
.comment-axns,
.comment-admin-axns,
.comment-user-axns,
.modify-comment-axn,
.comment-reply-axn,

.admin-account-log-status,
.logged-in-admin-account,
.log-out-admin-account-axn,
.logged-in-admin-account---glabel,
.logged-in-admin-account-name,

.comment-message-field,
.comment-message-field-label,
.comment-message-field-textbox,

.form-submit,

.comment-datetime,
.comment-published-datetime,
.comment-published-datetime-glabel,
.comment-published-date,
.comment-published-time,

.comment-author,
.commented-by-glabel,
.comment-author-name,
.comment-author-avatar,

.compose-comment-name,

.comment-main,
.comment-content,
.comment-full-content,

.entity-footer,
.entity-secondary-info,
.entity-name,
.entity-copyright,
.entity-maker-tag,

.entity-end,
.go-start-nav,
.go-start-navi {
    @extend %box;
    
    &:before {
        content: attr(data-name);
        display: block;
        text-align: center;
        font-family: sans-serif;
    }
}

.comment-respond {
    @extend %box;
    
    &:before {
        content: attr(class);
        display: block;
        text-align: center;
        font-family: sans-serif;
    }
}

#cancel-comment-reply-link {
    @extend %box;
    
    &:before {
        content: attr(id);
        display: block;
        text-align: center;
        font-family: sans-serif;
    }
}

.comment-form {
    @extend %box;
    
    &:before {
        content: attr(id);
        display: block;
        text-align: center;
        font-family: sans-serif;
    }
}

.form-submit {
    @extend %box;
    
    &:before {
        content: attr(class);
        display: block;
        text-align: center;
        font-family: sans-serif;
    }
}

ul {
    padding: 0;
    margin: 0;
}

.cn {

    &:before {
        @extend %label;
        display: inline-block;
        background-color: green;
    }
}

.cp,
.comment-respond,
.form-submit {

    &:before {
        @extend %label;
        display: inline-block;
        background-color: blue;
    }
}

.md {

    &:before {
        @extend %label;
        display: inline-block;
        background-color: red;
    }
}

.view,
.wild-card,
.entity  {

    &:before {
        @extend %label;
        display: inline-block;
    }
}