.icon {

  // From Icomoon
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  // Fixes JS Events
  pointer-events: none;
}

.dismiss-icon {
  @include dimensions(.75em, .75em);
}