//--------------------------------------------------------------
// Absolute Variables
//--------------------------------------------------------------

// Colors
$chikka-orange: hsl(30, 100%, 50%);
$panda-blue: hsl(215, 100%, 45%);
$panda-purple: hsl(270, 100%, 35%);
$record-red: rgb(229, 0, 0);
$uhog-green: hsl(120, 100%, 25%);
$eerie-black: hsl(0, 0%, 11%);

$ash-blue--color: hsl(215, 35%, 96%);
$black-blue--color: hsl(215, 100%, 10%);

$baby-powder: hsl(60, 67%, 99%);

// Elements
$headings: 'h1, h2, h3, h4, h5, h6';
$lists: 'ul, ol';

// Viewport Widths
$px: .0625em;
$s-vp: 36em;
$m-vp: 48em;
$l-vp: 64em;
$xl-vp: 80em;

//--------------------------------------------------------------
// Helpers - Extensions
//--------------------------------------------------------------

%vh {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

%cf:before,
%cf:after {
    content: " ";
    display: table;
}

%cf:after {
    clear: both;
}

%unlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

%aa {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 3rem;
    min-height: 3rem;
}

//--------------------------------------------------------------
// Helpers - Mixins
//--------------------------------------------------------------

@mixin unline {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

@mixin mq($media) {
  
    @if $media == xs-vp {

        // Exclusive for Narrow and Below
        @media only screen and ( max-width: $s-vp - $px ) {
            @content;
        }
    } @else if $media == s-vp {

        // Mobile–First Narrow and Above
        @media only screen and ( min-width: $s-vp ) {
            @content;
        }
    } @else if $media == m-vp {
        
        // Mobile–First Medium and Above
        @media only screen and ( min-width: $m-vp ) {
            @content;
        }
    } @else if $media == l-vp {
        
        // Mobile–First Wide and Above
        @media only screen and ( min-width: $l-vp ) {
            @content;
        }
    }
}