

//--------------------------------------------------------------
// [Absolute Variables] Elements
//--------------------------------------------------------------

$headings: 'h1, h2, h3, h4, h5, h6';
$lists: 'ul, ol';

//--------------------------------------------------------------
// [Absolute Variables] Viewport Widths
//--------------------------------------------------------------

$px: .0625em;
$s-vp: 36em;
$m-vp: 48em;
$l-vp: 61.25em;
$xl-vp: 80em;

//--------------------------------------------------------------
// [Extensions @extend] Visually Hidden
//--------------------------------------------------------------

/* Screen Reader Text ------------------------ */

%vh {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
    word-break: normal;
    
    &:focus {
        clip: auto !important;
        -webkit-clip-path: none;
        clip-path: none;
        height: auto;
        width: auto;
    }
}

@mixin vh {
    border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
    word-break: normal;
}

//--------------------------------------------------------------
// [Extensions @extend] Clearfix
//--------------------------------------------------------------

%cf {

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

//--------------------------------------------------------------
// [Extensions @extend] Image Replacement
//--------------------------------------------------------------

%ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 150%;
    }
}

//--------------------------------------------------------------
// [Extensions @extend] Active Area
//--------------------------------------------------------------

%aa {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 3rem;
    min-height: 3rem;
}

//--------------------------------------------------------------
// [Mixins @include] Unlist - Remove list default style
//--------------------------------------------------------------

@mixin unlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

//--------------------------------------------------------------
// [Mixins @include] Unline - Remove underline
//--------------------------------------------------------------

@mixin unline {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

//--------------------------------------------------------------
// [Mixins @include] X-axis Padding
//--------------------------------------------------------------

@mixin x-padding($l: 0, $r: $l) {
    padding: {
        left: $l;
        right: $r;
    }
}

//--------------------------------------------------------------
// [Mixins @include] Y-axis Padding
//--------------------------------------------------------------

@mixin y-padding($t: 0, $b: $t) {
    padding: {
        top: $t;
        bottom: $b;
    }
}

//--------------------------------------------------------------
// [Mixins @include] X-axis Margin
//--------------------------------------------------------------

@mixin x-margin($l: 0, $r: $l) {
    margin: {
        left: $l;
        right: $r;
    }
}

//--------------------------------------------------------------
// [Mixins @include] Y-axis Margin
//--------------------------------------------------------------

@mixin y-margin($t: 0, $b: $t) {
    margin: {
        top: $t;
        bottom: $b;
    }
}

//--------------------------------------------------------------
// [Mixins @include] Media Query
//--------------------------------------------------------------

@mixin mq($media) {
  
    @if $media == xs-vp {

        // Exclusive for Narrow and Below
        @media only screen and ( max-width: $s-vp - $px ) {
            @content;
        }
    } @else if $media == s-vp {

        // Mobile–First Narrow and Above
        @media only screen and ( min-width: $s-vp ) {
            @content;
        }
    } @else if $media == m-vp {
        
        // Mobile–First Medium and Above
        @media only screen and ( min-width: $m-vp ) {
            @content;
        }
    } @else if $media == l-vp {
        
        // Mobile–First Wide and Above
        @media only screen and ( min-width: $l-vp ) {
            @content;
        }
    } @else {
        
        // Mobile–First Wide and Above
        @media only screen and ( min-width: $media ) {
            @content;
        }
    }
}