//--------------------------------------------------------------
// Table Elements
//--------------------------------------------------------------

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	word-break: normal;

	ul, ol {
		margin: 0;
		padding: 1em 1rem;
		padding-left: 2.25em;
	}

	td,
	th {

		> .txt {
			display: block;
			padding: 1em 1rem;
		}
	}

}

tbody {

	th {
		text-align: left;
		vertical-align: top;
	}
}

td {
	vertical-align: top;
}