//--------------------------------------------------------------
// WP Elements
//--------------------------------------------------------------

// WP Required Elements
.wp-caption,
.wp-caption-text,
.sticky,
.screen-reader-text,
.gallery-caption,
.bypostauthor {
    position: inherit;
}

.wp-smiley {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	border: none;
}

p > embed:only-child,
p > iframe:only-child,
p > object:only-child {
	margin-bottom: 0;
}

.wp-caption,
.gallery-caption {
	max-width: 100%;
}

.wp-caption-text {
	padding: $m-gutter;
	font-size: .875em;
}

//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

.comment-form-cookies-consent {
	display: flex;
	align-items: center;
	@include y-margin(0, -1em);
	padding: $m-gutter;

	label {
		font-size: .875em;
	}
}

#wp-comment-cookies-consent {
	margin-right: 0;
	max-width: $min-aa;
	max-height: $min-aa;
}

.wp-admin-bar--enabled {
	margin-top: 0 !important;
	padding-top: 32px;
	
	@media screen and (max-width: 782px) {
		padding-top: 46px;
	}
}

//--------------------------------------------------------------
// Post Password Form
//--------------------------------------------------------------
.post-password-form {

	label {
		font-size: 1rem;
    }

	p {
		margin: 0;
        @include y-padding(1em);

        &:last-child {
            padding-bottom: 0;
        }
    }

    input {
		@include y-margin(1em, 0);
		font-size: 1rem;
    }
}