.nav-name, .page-entry .entry-nav,
.page-entry .view-heading,
.page-entry .entry-meta,
.page-entry .comments-actions-snippet,
.page-entry .comment-md, .customize-visuals {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.html {
  background-color: #F4C6E7;
}

a {
  color: #7C58B0;
}

.entity-header {
  background-color: #7C58B0;
}

.entity-header a {
  color: #fefefb;
}

.entity-secondary-info {
  color: #fefefb;
}

.entity-secondary-info a {
  color: #fefefb;
}

.entity-secondary-info---cr {
  text-align: center;
}

.ntt-go-start-nav-f5e .entity-secondary-info a {
  text-decoration: none;
}

.ntt-go-start-nav-f5e .entity-secondary-info a:hover {
  text-decoration: underline;
}

.ntt-go-start-nav-f5e .entity-secondary-info---cr {
  padding-left: 3rem;
  padding-right: 3rem;
}

.entity-banner-visuals {
  display: none;
}

.front-view .entity-banner-visuals {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.entry-name {
  color: #7C58B0;
}

.primary-menu-toggle-axn---a,
.primary-search-toggle-axn---a,
.overflow-axns-toggle-axn---a {
  color: #fefefb;
}

.primary-search-f5e .submit-search-axn---a,
.primary-search-f5e .reset-search-axn---a {
  color: #fefefb;
}

.primary-search-f5e .search-input {
  color: #fefefb;
}

.primary-search-f5e .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.primary-search-f5e .search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.primary-search-f5e .search-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.primary-search-f5e .search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.customize-page-entry.dom--unready [id*="contact-form"] label > input {
  display: none;
}

.customize-form .grunion-radio-label {
  display: block;
  text-align: center;
}

.customize-form .grunion-radio-label input {
  visibility: hidden;
  position: absolute;
}

.customize-form .grunion-radio-label input + img {
  cursor: pointer;
  border: .25em solid transparent;
}

.customize-form .grunion-radio-label input:checked + img {
  border-color: #7C58B0;
}

.customize-form .grunion-radio-label .txt {
  display: block;
}

.customize-form .required---txt {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: gray;
  font-size: .75em;
}
